body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6079ce;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #986fc5;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-list,
.cart {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 300px;
}

h2 {
    margin-top: 0;
}

#medications-container,
#cart-items {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

